<h1>Individual Task</h1>
<h2>Task: <%= @task.title %></h2>
<p>Task description: <%= @task.details %></p>
<p>Completed: <%= @task.completed %></p>

<%= link_to "Delete",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>

<%= link_to "All Tasks", tasks_path, class: "btn btn-primary" %>
<%= link_to "Edit Task", edit_path, class: "btn btn-warning" %>
